body {
  --dark: #222831;
  --darker: #111418;
  --dark-accent: #30475e;
  --light: #e8e8e8;
  --lighter: #f5f5f5;
  --light-accent: #6f8ab7;
  --danger: #f05454;

  --fg: var(--dark);
  --bg: var(--light);
  --bg-other: var(--lighter);
  --accent: #007ea7;

  --sans: sans-serif;
  --serif: serif;
}

.dark {
  --fg: var(--light);
  --bg: var(--dark);
  --bg-other: var(--darker);
  --accent: #007ea7;
}

body {
  color: var(--fg);
  background: var(--bg);
  transition: background-color 1s;
  font-family: var(--serif);
}
