body {
  --neutral-100: #e8e8e8;
  --neutral-200: #cfd0d1;
  --neutral-300: #b7b8ba;
  --neutral-400: #9ea0a3;
  --neutral-500: #85888d;
  --neutral-600: #6c7076;
  --neutral-700: #54585f;
  --neutral-800: #3b4048;
  --neutral-900: #222831;
  --danger: #f05454;

  --fg: var(--neutral-900);
  --fg-secondary: var(--neutral-800);
  --fg-details: var(--neutral-700);
  --bg: var(--neutral-100);

  --sans: sans-serif;
  --serif: serif;
}

.dark {
  --fg: var(--neutral-100);
  --fg-secondary: var(--neutral-200);
  --fg-details: var(--neutral-300);
  --bg: var(--neutral-900);
}

body {
  color: var(--fg);
  background: var(--bg);
  transition: background-color 1s;
  font-family: var(--serif);
}
