body {
  --neutral-100: #e8e8e8;
  --neutral-200: #cfd0d1;
  --neutral-300: #b7b8ba;
  --neutral-400: #9ea0a3;
  --neutral-500: #85888d;
  --neutral-600: #6c7076;
  --neutral-700: #54585f;
  --neutral-800: #3b4048;
  --neutral-900: #222831;
  --neutral-highlight: #3b404820;
  --danger-light: #ef5e5e;
  --danger-dark: #c1295e;

  --fg: var(--neutral-900);
  --fg-secondary: var(--neutral-800);
  --fg-details: var(--neutral-700);
  --bg: var(--neutral-100);
  --bg-secondary: var(--neutral-200);
  --bg-details: var(--neutral-300);
  --danger: var(--danger-dark);
  --hl: var(--neutral-highlight);

  --display: "Khula", sans-serif;
  --sans: "Martel Sans", sans-serif;
  --serif: "Martel", serif;
}

.dark {
  --fg: var(--neutral-100);
  --fg-secondary: var(--neutral-200);
  --fg-details: var(--neutral-300);
  --bg: var(--neutral-900);
  --bg-secondary: var(--neutral-800);
  --bg-details: var(--neutral-700);
  --danger: var(--danger-light);
}

body {
  color: var(--fg);
  background-color: var(--bg);
  transition: background-color 1s;
  font-family: var(--sans);
  font-display: swap;
}

body :any-link:not([class]) {
  color: var(--fg);
  text-decoration: underline solid var(--danger);
}
