@import "./reset.css";
@import "./base.css";

h2,
h3 {
  font-family: var(--serif);
  text-align: center;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

.content {
  width: min(90vw, 1200px);
  margin: 0 auto;
}
