@import "./reset.css";
@import "./base.css";

h2,
h3 {
  font-family: var(--serif);
  text-align: center;
}

h2 {
  font-size: 3rem;
  margin-bottom: 4rem;
  font-weight: 600;
}

h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 400;
}
