@import "./reset.css";
@import "./base.css";

h2,
h3 {
  font-family: var(--serif);
}

h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
  margin-top: 1.5rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

.content {
  width: min(95vw, 1200px);
  margin: 0 auto;
}

.inline-link {
  text-decoration: underline 0.1rem var(--danger);
  color: var(--fg);
}

.inline-link:hover {
  --p: 100%;
}

.button-link {
  text-decoration: none;
  transition: 200ms, background-position 0s;
  background: linear-gradient(var(--danger) 0 0) 0% 100% / 100% var(--p, 0%)
    no-repeat;
  border: solid 1px var(--danger);
  width: fit-content;
  padding: 0.2rem 0.8rem;
  border-radius: 0.5rem;
  color: var(--fg);
}

.button-link:hover {
  color: var(--neutral-900);
  --p: 100%;
}
